.sidebar-hover {
    width: 70px;
    min-height: 100vh;
    transition: all 0.4s ease;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.sidebar-hover:hover {
    width: 280px;
}

.sidebar-text {
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s;
}

.sidebar-hover:hover .sidebar-text {
    opacity: 1;
}

.custom-link {
    height: 50px;
    transition: background-color 0.2s, color 0.2s;
}

.custom-link:hover {
    background-color: #ff4757 !important;
    color: white !important;
}